@font-face {
  font-family: MyFontRobotoBold;
  src: url("./Roboto-Bold.ttf");
}

@font-face {
  font-family: MyFontRobotoBold;
  src: url("./Roboto-Medium.ttf");
}

@font-face {
  font-family: MyFontRoboto;
  src: url("./Roboto-Light.ttf");
}
